body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1f2937;
    width: 100%;
    gap: 30px;
}

.section1-1, .section1-2, .section2-1, .section3-1 {
    width: 50%;
}

header {
    display: flex;
    align-items: center;
}

header h2 {
    margin: 0;
}

ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 15px;
    align-items: center;
}

a {
    text-decoration: none;
}

.section1-2 {
    display: flex;
    justify-content: space-between;
    margin: 30 0 90 0;
    gap: 40px;
}

.left-content, .right-content {
    width: 50%;
}

.right-content {
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.left-content h1, .left-content p {
    margin-top: 0;
    margin-bottom: 10;
}

.left-content h1 {
    font-size: 48px;
    font-weight: bolder;
}

.left-content h1, header h2 {
    color: #f9f4f8;
}

.section1 p, .section1 a {
    font-size: 18px;
    color: #e5e7eb;
}

.section1 button {
    background-color: #3882f6;
    border: none;
    color: #e5e7eb;
    font-size: 18px;
    font-weight: bold;
    padding: 10 35;
    border-radius: 10px;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 100px;
}

.section2-1 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.section2, .section2-1 {
    margin-top: 20px;
}

.boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    color: #6d747d;
}

.box {
    height: 150px;
    width: 150px;
    border-radius: 15px;
    border-color: #3882f6;
    border-style: solid;
    border-width: 4px;
}

.box-text {
    padding: 10 20;
}

.section2 h1 {
    color: #1f2937;
    font-size: 36px;
    font-weight: bolder;
}

.section3 {
    width: 100%;
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section3-1 {
    display: flex;
    flex-direction: column;
    padding: 150px;
    width: 44%;
}

.quote {
    font-size: 36px;
    font-style: italic;
}

.quotee {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
    font-size: 25px;
    color: #1f2937  ;
}